{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Admin Home</title>
</head>
<body>
    <style>
        .container{
            text-align: start;
        }
    </style>
    <div class="container">
        <br>
    <h1 style="color: aliceblue;">Welcome to the Admin Panel</h1><br><br>

    <li><a href="{% url 'registered_users' %}"> ⨠ Registered Users & Company</a></li><br><br>

   <li><a href="{% url 'posted_jobs' %}"> ⨠ Posted Jobs</a></li> 


</div>
   
</body>
</html>


{% endblock %}