{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Job List</title>
</head>
<body><br>
    <div class="container">
    <h1 style="color: rgb(252, 252, 252);">Job List</h1><br>
    {% if joblist %}
        <ul>
            {% for joblist in joblist %}
               <a href="{% url 'company_jobdetails' joblist.id %}"><li>{{ joblist.job_tittle }} - {{ joblist.company_name }}</li></a> 
            {% endfor %}
        </ul>
    {% else %}
        <p>No jobs available.</p>
    {% endif %}
</div>
</body>
</html>



{% endblock %}