{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <h1 style="color: aliceblue;">Company Name</h1><h4 style="color: aqua;">{{joblist.company_name}}</h4>
   
   <label style="color: aliceblue;">Location</label><h5  style="color: aqua;">{{joblist.location}}</h5>
   <label style="color: aliceblue;">Job Title</label><h5  style="color: aqua;">{{joblist.job_tittle}}</h5>
   <label style="color: aliceblue;">Description</label><h5  style="color: aqua;">{{joblist.description}}</h5>
   <label style="color: aliceblue;">Job Type</label><h5  style="color: aqua;">{{joblist.job_type}}</h5>
   <label style="color: aliceblue;">Salary</label><h5  style="color: aqua;">{{joblist.salary}}</h5>
   <label style="color: aliceblue;">Skills Required</label><h5  style="color: aqua;">{{joblist.skills_required}}</h5>
   <label style="color: aliceblue;">Education Required</label><h5  style="color: aqua;">{{joblist.education_required}}</h5>
   <label style="color: aliceblue;">Experience Required</label><h5  style="color: aqua;">{{joblist.experience_required}}</h5>
   
   </div>
   

{% endblock %}