{% extends 'base.html' %}

{% block content %}
<style>
    .input-short {
    width: 200px; /* Adjust the width as per your preference */
}
</style>
<div class="container">
    <h1 class="text-white">Company Registration</h1>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control input-short" id="username" name="username" placeholder="Enter username">
        </div><br>

        <div class="form-group">
            <label for="company_name">Company Name:</label>
            <input type="text" class="form-control input-short" id="company_name" name="company_name" placeholder="Enter company name">
        </div><br>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control input-short" id="email" name="email" placeholder="Enter email">
        </div><br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control input-short" id="password" name="password" placeholder="Enter password">
        </div><br>

        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control input-short" id="confirm_password" name="confirm_password" placeholder="Confirm password">
        </div><br>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% endblock %}