{% extends 'base.html' %}

{% block content %}



<div class="container"><br><br>
    <h2 style="color: rgb(0, 136, 255); text-decoration: underline;"> Your Profile Details </h2>
 <h1 style="color: aliceblue;">Company Name</h1><h4 style="color: aqua;">{{profiles.company_name}}</h4>

<label style="color: aliceblue;">Location</label><h4 style="color: aqua;">{{profiles.location}}</h4>
<label style="color: aliceblue;">Email</label><h4 style="color: aqua;">{{profiles.contact_email}}</h4>
<label style="color: aliceblue;">Contact</label><h4 style="color: aqua;">{{profiles.contact_phone}}</h4>

{% if profiles.logo %}

<img src="{{profiles.logo.url}}" alt="AVR_IMAGES" height="100px" />

{% endif %}

{% if profiles in profiles %}
<a style="color: black;" href="{% url 'company_profile_edit' profile_edit.id %}">Edit Profile</a>
<br /><br />
{% endif %}

</div>



{% endblock %}