{% extends 'base.html' %}

{% block content %}
<div class="container"><br>
<h1 style="color: aliceblue;">Company Registeration</h1><br>
<form method="post">
    {% csrf_token %}

    <label>Username :</label> <input style="border-radius: 30%;" type="text" name="username"> <br><br>

    <label>Company Name :</label> <input style="border-radius: 30%;" type="text" name="company_name"> <br><br>

    <label>Email :</label> <input style="border-radius: 30%;" type="email" name="email"> <br><br>

    <label>Password :</label> <input style="border-radius: 30%;" type="password" name="password"> <br><br>

    <label>Confirm Password :</label> <input style="border-radius: 30%;" type="password" name="confirm_password"> <br><br>

    <label>Register :</label> <input style="background-color: aqua;" type="submit">

</form>
</div>
{% endblock %}