{% extends 'base.html' %}

{% block content %}

<div class="container"><br>
  <h1 style="color: aliceblue;">Add Experience</h1><br>
<form method="POST">
    {% csrf_token %}
    
    <label for="company_name">Company Name:</label>
    <input style="border-radius: 30%;" type="text" name="company_name" id="company_name" required><br><br>
    
    <label for="position">Position:</label>
    <input style="border-radius: 30%;" type="text" name="position" id="position" required><br><br>
    
    <label for="start_date">Start Date:</label>
    <input style="border-radius: 30%;" type="text" name="start_date" id="start_date" required><br><br>

    <label for="end_date">End Date:</label>
    <input style="border-radius: 30%;" type="text" name="end_date" id="end_date" required><br><br>
    
    <button style="background-color: aqua; font-size: large;" type="submit">Add Experience</button><br>
  </form>
</div>
  



{% endblock %}