{% extends 'base.html' %}

{% block content %}


<div class="container"><br>

  <h1 style="color: aliceblue;">Add Skill</h1><br>

<form method="POST">
    {% csrf_token %}
    
    <label for="skill_name">Skill Name :</label>
    <input style="border-radius: 30%;" type="text" name="skill_name" id="skill_name" required><br><br>
    
    <label for="description">Description:</label>
    <input style="border-radius: 30%;" type="text" name="description" id="description" required><br><br>

    <button style="background-color: aqua;" type="submit">Add Skill</button><br>
  </form>
</div>


{% endblock %}