{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 style="color: aliceblue;">Complete Your Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input style="border-radius: 30%;" type="text" name="name" id="name" required><br><br>
    <label for="location">Location:</label>
    <input style="border-radius: 30%;" type="text" name="location" id="location" required><br><br>
    <label for="cont_email">Contact Email:</label>
    <input style="border-radius: 30%;" type="email" name="cont_email" id="cont_email" required><br><br>
    <label for="cont_phone">Contact Phone:</label>
    <input style="border-radius: 30%;" type="text" name="cont_phone" id="cont_phone" required><br><br>
    <label for="profile_image">Profile Image:</label>
    <input type="file" name="profile_image" id="profile_image">
    <label for="gender">Gender:</label>
    <select id="status" name="gender" required>
        <option value="" selected disabled>Select Gender</option>
        {% for choice in choices %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
      </select>
    <input type="submit" value="Save">
  </form>
</div>

{% endblock %}