{% extends 'base.html' %}

{% block content %}


{% for job in joblist %}

<style>
  .container{
    text-align: center;
  }
</style>
<tr><br>
  <div class="container">
    <h3 style="color: aqua;">{{ job.job_tittle }}</h3><br>
    <p>{{ job.description }}</p>
    <p>Company: {{ job.company_name }}</p>
    <p>Job Type: {{ job.job_type }}</p>
    <p>Salary : {{ job.salary }}</p>
    <a href="{% url 'apply_job' id=job.id %}" class="btn btn-primary">Apply Job</a><br><br>
  </div>
</tr>
{% empty %}
  <p>No jobs available.</p>
{% endfor %}


{% endblock %}