{% extends 'base.html' %}

{% block content %}


<h1>User Profile</h1>

{% if profileview %}
    <h2>{{ user_profile.name }}</h2>
    <p>Location: {{ profileview.location }}</p>
    <p>Contact Email: {{ profileview.cont_email }}</p>
    <p>Contact Phone: {{ profileview.cont_phone }}</p>
    <p>Gender: {{ profileview.gender }}</p>
    {% if profileview.profile_image %}
        <img src="{{ profileview.profile_image.url }}" alt="Profile Image">
    {% else %}
        <p>No profile image available</p>
    {% endif %}
{% else %}
    <p>User profile not found.</p>
{% endif %}


{% for add_education in add_education %}


<label>Name of College</label>
<h2>{{ add_education.name_of_college }}</h2><br>
<label> Passout Year</label>
<h2>{{ add_education.passout_year}}</h2><br>
<label>Subject</label>
<h2>{{ add_education.subject }}</h2>


{% endfor %}

{% for addskill in addskill %}

<label>Skill Name</label>
<h2>{{ addskill.skill_name }}</h2><br>
<label>Description</label>
<h2>{{ addskill.description}}</h2><br>

{% endfor %}


<a href="{% url 'add_education' %}">Add Education</a><br><br>

<a href="{% url 'add_skill' %}">Add Skill</a>


{% endblock %}